<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://componentmodel/1.0"
            class="componentmodel.ComponentmodelPackage"
            genModel="model/componentModel.genmodel"/>
   </extension>

</plugin>
